* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Helvetica';
  font-weight: 300;
}

svg {
  background-color: rgba(0,0,0,.025);
  margin: auto;
  border: 1px solid rgba(0,0,0,.1);
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 2em;
  row-gap: 2em;
  max-width: 100vw;
  background-size: 64px 128px;
}
.main .container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  align-self: center;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-bottom: 2em;
}
/*
@media (min-width: 1000px) {
  .main .container {
    box-shadow: 2px 2px 20px;
  }
}
*/
.main .container #title {
  text-align: center; 
  font-size: 1em;
  margin-bottom: 1.33em;
}
.main .container .visHolder {
  position: relative;
  width: 100%;
  height: 100%;
  /*  
  position: absolute;
  top: 6em;
*/
}

.main .title-block {
  display: flex;
  flex-direction: column;
}


#dataHolder {
/*  display: none; */
  margin: auto;
  width: 90vw;
  background: white;
  border: 1px solid black;
  box-shadow: 3px 3px 3px gray;
  text-align: center;
  display: none;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  min-width: 150px;
  min-height: 50px;
  padding: 2px;
  font: 12px;
  background: lightsteelblue;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
  flex-direction: column;
}

.overlay {
  position: absolute;
  background: #fff;
  pointer-events: none;
}

#y-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

#x-axis path {
  stroke: black;
  stroke-width: 1;
  fill: none;
}

.info {
  font-size: 0.8em;
}

.bar {
  background-color: blue;
}


.buttons form {
  font-size: 12px;
}

.buttons form label {
  display: none;
}

.buttons form input, .buttons form input:focus-visible {
  display: inline-block;
  max-width: 1.25em; 
  border: none;
  outline: none;
  text-align: right;
  font-family: 'Helvetica';
  font-size: 12px;
  font-weight: 300;
  border-bottom: 1px solid rgba(0,0,0,.25);
}

.buttons form input#startYear, input#endYear {
  max-width: 30px;
}

.buttons form .buttonRow {
  clear: left;
}

.buttons form input[type="submit"] {
  max-width: none;
  background: transparent;
  border: 1px solid lightgray;
  padding: 5px 66px;
  display: none;
}

.buttons form input[type="submit"]:hover {
  background: lightgray;
}

.buttons form .formBlock {
  float: left;
  margin-top: 1px;
}

.buttons form .blockDivider {
  border-left: 1px solid lightgray;
  margin: 0 1.5em 2em;
  height: 40px;
  float: left;
}

.buttons form .formRow {
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  width: 100%;
}

.buttons form .formLabel {
  font-weight: bold;
  margin-right: 8px;
}

.buttons form span {
  margin: 0 3px;
}

#legend {
  font-size: 12px;
  background-color: white;
  display: flex;
/*  position: absolute; */
/*  flex-direction: column; */
  top: 120px;
  left: 100px;  
  margin: 2em 0;
}

#legend .legend-block {
  display: flex;
  margin-right: 2em;
}

#legend .legend-color, #legend .legend-shape {
  width: 1em;
  height: 1em;
  margin-right: 5px;
}

a.dataSource {
  font-size: 12px;
  color: black;
}